[Unit]
Description=Temperature sensor service
After=syslog.target network.target

[Service]
Type=simple
Environment="ADAFRUIT_DEVICE_NAME={{ temp_sensor_service.sensor.device_name }}"
Environment="ADAFRUIT_GPIO_PIN={{ temp_sensor_service.sensor.gpio_pin }}"
User=root
Group=root
ExecStart=uwsgi -s {{ temp_sensor_service.socket.uwsgi }} --chown-socket {{ nginx_user }} --strict --need-app --mount /=flask_sensor_app:app
WorkingDirectory={{ temp_sensor_service.repo.local_path }}

